## Pandas I

Home exercises for Netflix:

1. Is there any missing rating?
2. How many films in 2021 correspond to your country?
3. What's the number of movies in 2020 with full information?
4. Give me the year with more titles,
5. and what has been the average in terms of releases from 2010. 

And for Titanic:

1. Calculate Gender-Based Survival Percentage

2. Calculate Survival Percentage Grouped by Gender and Class

In [10]:
import os
os.getcwd()

path1 = r'c:\\Users\\Kevin\\Desktop\\Python_Workbench\\Python_Assignments\\Session_6\\titanic\\train_and_test2.csv'
df2 = pd.read_csv(path1)


path = r'c:\\Users\\Kevin\\Desktop\\Python_Workbench\\Python_Assignments\\Session_6\\netflix_titles.csv\\netflix_titles.csv'
df = pd.read_csv(path)

In [11]:
#1
print(f"There are {df["rating"].isna().sum()} missing ratings")

There are 4 missing ratings

In [12]:
#2
import pandas as pd
IndiaMov = (len(df[(df["country"] == "India") & (df["type"] == "Movie") & (df["release_year"] == 2021)]))
print(f"There are {IndiaMov} movies from India in 2021")

There are 22 movies from India in 2021

In [13]:
#3
fullInfo = df[(df["release_year"] == 2020) & (df["type"] == "Movie") & (df.notna().all(axis=1))]
print(f"There are {len(fullInfo)} movies from 2020 with full information")

There are 409 movies from 2020 with full information

In [14]:
#4
moreTitles = df["release_year"].value_counts().idxmax()
print(f"The year with the most titles is {moreTitles} with {df["release_year"].value_counts().max()} titles")

The year with the most titles is 2018 with 1147 titles

In [15]:
#5
avgTitles = df[df["release_year"] >= 2010]["release_year"].value_counts().mean()
print(f"The average number of titles from 2010 is {avgTitles}")

The average number of titles from 2010 is 622.6666666666666

In [16]:

import pandas as pd
import os
os.getcwd()

path = r'c:\\Users\\Kevin\\Desktop\\ESADE_Classes\\Python\\session6\\titanic\\train_and_test2.csv'

df = pd.read_csv(path)
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [17]:

df["Sex"] = df["Sex"].fillna(1)
df["2urvived"] = df["2urvived"].fillna(0)

survived = df[df["2urvived"] == 1]
gender_counts = survived["Sex"].value_counts()

male_count = (survived["Sex"] == 1).sum()
female_count = (survived["Sex"] == 0).sum()

ratio = male_count / female_count if female_count > 0 else float('inf')
print(f"Ratio of males to females among survivors: {ratio}")

Ratio of males to females among survivors: 2.1376146788990824

In [7]:
# mean_fare = df2['Fare'].mean()

#Class
mean_fare = df['Fare'].mean()

upper_class = df[df['Fare'] >= mean_fare]
lower_class = df[df['Fare'] < mean_fare]

passenger_tot = df.groupby(df['Fare'] >= mean_fare).size()
upper_class_count = passenger_tot.get(True, 0)
lower_class_count = passenger_tot.get(False, 0)

upper_class_survived = upper_class['2urvived'].sum() 
lower_class_survived = lower_class['2urvived'].sum()

upper_class_survival_percentage = (upper_class_survived / upper_class_count) * 100
lower_class_survival_percentage = (lower_class_survived / lower_class_count) * 100

print("The percentage of upper class that survived is: ", upper_class_survival_percentage)
print("The percentage of lower class that survived is: ", lower_class_survival_percentage)

#Gender
male_sur = df[(df["Sex"] == 1) & (df["2urvived"] == 1)]
female_sur = df[(df["Sex"] == 0) & (df["2urvived"] == 1)]

tot = len(male_sur) + len(female_sur)

if tot > 0:
    male_per = (len(male_sur) / tot) * 100
    female_per = (len(female_sur) / tot) * 100
else:
    male_per = female_per = 0

print("Males survived percentage:", male_per)
print("Females survived percentage:", female_per)

The percentage of upper class that survived is:  40.46052631578947
The percentage of lower class that survived is:  21.791044776119403
Males survived percentage: 68.12865497076024
Females survived percentage: 31.871345029239766